<head>
  <title>SEL In Chicago</title>
</head>

{{#extend "html/template"}}
{{#content "body"}}
{{> partials/nav }}
{{!-- <h1>{{site.index.title}}</h1> --}}
<main>

  <h1>TODO</h1>
  {{> partials/footer }}

</main>
{{/content}}
{{/extend}}