<head>
  <title>SEL In Chicago - FAQs</title>
</head>

{{#extend "html/template" }}
{{#content "body"}}
{{> partials/nav }}
{{!-- <h1>{{site.index.title}}</h1> --}}
<main>
  <!-- ./Page header -->
  <header class="header section overlay gradient gradient-purple-blue alpha-8 text-contrast image-background cover"
    style="background-image: url(img/waves.jpg)">

    <div class="container bring-to-front">
      <div class="row gap-y align-items-center">
        <h1 class="light display-4 text-contrast">FAQs</span></h1>
      </div>
    </div>
  </header>

  <!-- ./Features - grid -->
  <section id="features" class="section  bg-contrast">
    <div class="container pb-5">
      <div class="row gap-y text-center text-md-left">

        <div class="col-md-12 py-12">

          <span
            style="position: absolute; top: 17px; left: -30px; color: black; font-size: 12px; width: 10px; text-align: center;">
            <i data-feather="star" stroke="red" fill="red" width="36" height="36" class="text-info mb-2"></i>
          </span>

          <h5 class="bold" style="padding-top: 10px;">What is Social Emotional Learning?</h5>
          <p class="text-secondary">
            Social-emotional learning (SEL) is the process of developing the self-awareness, self-control, and
            interpersonal skills that are vital for school, work, and life success.
            <br /><br />
            People with strong social-emotional skills are better able to cope with everyday challenges and benefit
            academically, professionally, and socially. From effective problem-solving to self-discipline, from impulse
            control to emotion management and more, SEL provides a foundation for positive, long-term effects on kids,
            adults, and communities.
            <br /><br />
            Children thrive. Schools win. Workplaces benefit. Society strengthens. All due to social-emotional learning.
          </p>

        </div>

        <div class="col-md-12 py-12">

          <span
            style="position: absolute; top: 17px; left: -30px; color: black; font-size: 12px; width: 10px; text-align: center;">
            <i data-feather="star" stroke="red" fill="red" width="36" height="36" class="text-info mb-2"></i>
          </span>

          <h5 class="bold" style="padding-top: 10px;">How do I use the Classroom Mapping Tool?
          </h5>
          <!--<h6 class="bold text-secondary">09/20/2019</h6>-->
          <p class="text-secondary">
            The Classroom Mapping Tool can be used in several ways. It was created to allow teachers a visual way of sharing student feeling feedback to different parts of the classroom. The tool can be used for teachers to collect the data independently after a class period or length of time where students are independently and throughout the class giving feedback or it can be used during class and filled out together to start the conversation of feelings in different parts of the classroom. The second approach can be seen on the Homepage collection of student maps.
          </p>

        </div>
        <div class="col-md-12 py-12">

          <span
            style="position: absolute; top: 17px; left: -30px; color: black; font-size: 12px; width: 10px; text-align: center;">
            <i data-feather="star" stroke="red" fill="red" width="36" height="36" class="text-info mb-2"></i>
          </span>

          <h5 class="bold" style="padding-top: 10px;">How do I gather data and know what areas of the classroom are Green Spaces and Pink Spaces?
          </h5>
          <!--<h6 class="bold text-secondary">09/20/2019</h6>-->
          <p class="text-secondary">
            Our first recommended approach is for teachers can either give students pink and green post-it’s and co-define what each color means with their students. Our second recommended approach is to have students fill out the Classroom Mapping Tool as partners or groups. Our third recommended approach is to collect data from the post-it notes after the activity and label each pile, counting how many of each color came from each area of the room, then use the numbers to label using the directions on the Classroom Mapping Tool. 
          </p>

        </div>
        <div class="col-md-12 py-12">

          <span
            style="position: absolute; top: 17px; left: -30px; color: black; font-size: 12px; width: 10px; text-align: center;">
            <i data-feather="star" stroke="red" fill="red" width="36" height="36" class="text-info mb-2"></i>
          </span>

          <h5 class="bold" style="padding-top: 10px;">How long does it take to use the Teacher Resources and start the conversation about equitable spaces in my classroom?
          </h5>
          <!--<h6 class="bold text-secondary">09/20/2019</h6>-->
          <p class="text-secondary">
            The Teacher Materials can be used in different ways, such a one day class activity, a task to be completed throughout the class, an open survey for a defined period of time, or a one day class activity and a conversation the following day using the collected data. The gathering of data can take as short as 10 minutes including the introduction and rationale. The conversations using the Discussion Protocols in the Teacher Materials should take 10-15 minutes. 
          </p>

        </div>
        <div class="col-md-12 py-12">

          <span
            style="position: absolute; top: 17px; left: -30px; color: black; font-size: 12px; width: 10px; text-align: center;">
            <i data-feather="star" stroke="red" fill="red" width="36" height="36" class="text-info mb-2"></i>
          </span>

          <h5 class="bold" style="padding-top: 10px;">...Now what?
          </h5>
          <!--<h6 class="bold text-secondary">09/20/2019</h6>-->
          <p class="text-secondary">
            Facillirate a dialogue using the Debrief Discussion Protocol in the Teacher Materials then fill out our survey to let us know how your experience went with your students.  
          </p>

        </div>

      </div>
    </div>
  </section>
  {{> partials/footer }}

</main>
{{/content}}
{{/extend}}