<head>
  <title>SEL In Chicago - FAQs</title>
</head>

{{#extend "html/template" }}
{{#content "body"}}
{{> partials/nav }}
{{!-- <h1>{{site.index.title}}</h1> --}}
<main>
  <!-- ./Page header -->
  <header class="header section overlay gradient gradient-purple-blue alpha-8 text-contrast image-background cover"
    style="background-image: url(img/waves.jpg)">

    <div class="container bring-to-front">
      <div class="row gap-y align-items-center">
        <h1 class="light display-4 text-contrast">FAQs</span></h1>
      </div>
    </div>
  </header>

  <!-- ./Features - grid -->
  <section id="features" class="section  bg-contrast">
    <div class="container pb-5">
      <div class="row gap-y text-center text-md-left">

        <div class="col-md-12 py-12">

          <span
            style="position: absolute; top: 17px; left: -30px; color: black; font-size: 12px; width: 10px; text-align: center;">
            <i data-feather="star" stroke="red" fill="red" width="36" height="36" class="text-info mb-2"></i>
          </span>

          <h5 class="bold" style="padding-top: 10px;">What is Social Emotional Learning?</h5>
          <p class="text-secondary">
            Social-emotional learning (SEL) is the process of developing the self-awareness, self-control, and
            interpersonal skills that are vital for school, work, and life success.
            <br /><br />
            People with strong social-emotional skills are better able to cope with everyday challenges and benefit
            academically, professionally, and socially. From effective problem-solving to self-discipline, from impulse
            control to emotion management and more, SEL provides a foundation for positive, long-term effects on kids,
            adults, and communities.
            <br /><br />
            Children thrive. Schools win. Workplaces benefit. Society strengthens. All due to social-emotional learning.
          </p>

        </div>

        <div class="col-md-12 py-12">

          <span
            style="position: absolute; top: 17px; left: -30px; color: black; font-size: 12px; width: 10px; text-align: center;">
            <i data-feather="star" stroke="red" fill="red" width="36" height="36" class="text-info mb-2"></i>
          </span>

          <h5 class="bold" style="padding-top: 10px;">Question question question question question question question?
          </h5>
          <h6 class="bold text-secondary">09/20/2019</h6>
          <p class="text-secondary">
            Lorem ipsum dolor amet seitan poutine letterpress pug venmo schlitz. Portland hella succulents authentic
            copper mug pitchfork everyday carry lomo. Hot chicken fixie vexillologist vaporware, wolf selvage tote bag
            small batch jean shorts 90's direct trade. Ugh tote bag lomo brunch truffaut trust fund godard XOXO vice.
            Lorem ipsum dolor amet seitan poutine letterpress pug venmo schlitz. Portland hella succulents authentic
            copper mug pitchfork everyday carry lomo. Hot chicken fixie vexillologist vaporware, wolf selvage tote bag
            small batch jean shorts 90's direct trade. Ugh tote bag lomo brunch truffaut trust fund godard XOXO vice.
          </p>

        </div>

      </div>
    </div>
  </section>
  {{> partials/footer }}

</main>
{{/content}}
{{/extend}}