<head>
  <title>SEL In Chicago - Story</title>
</head>

{{#extend "html/template"}}
{{#content "body"}}
{{> partials/nav }}
{{!-- <h1>{{site.index.title}}</h1> --}}
<main>
  <!-- ./Page header -->
  <header class="header section overlay gradient gradient-purple-blue alpha-8 text-contrast image-background cover"
    style="background-image: url(img/waves.jpg)">
    {{!-- <div class="divider-shape">
      <!-- waves divider -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" class="shape-waves"
        style="left: 0; transform: rotate3d(0,1,0,180deg);">
        <path class="shape-fill shape-fill-contrast"
          d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z" />
      </svg>
    </div> --}}

    {{!-- <div class="container-fluid">
      <div class="row gap-y align-items-center">
        <div class="col-lg-6 text-center text-lg-left">
          <h1 class="light display-4 text-contrast">Delivering the tools <span class="bold d-block">you need to
              succeed</span></h1>
          <p class="text-contrast lead my-5">It all begins by choosing the right tools, start with a complete set of
            design blocks to achieve your next success.</p>
          <a href="#" class="btn btn-contrast btn-lg btn-rounded bold px-5 bw-2 border-primary">Try it free</a>
          <div id="map" style="top:93px; bottom:0; max-width: 600px; width: 100%; height: 300px;"></div>

        </div>
        <div class="col-lg-6 col-md-9 mx-md-auto mx-lg-0 pr-lg-0">
          <div class="">
            <div class="d-flex flex-column py-3">
              <h1 class="light display-4 text-contrast">Let's get started</h1>
            </div>
          </div>
          <div class="mt-3">
            <div class="">
              <div class="d-flex flex-column align-items-center py-3">
                <p class="text-contrast lead">It all begins by choosing the right tools, start with a complete set
                  of
                  design blocks to achieve your next success.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> --}}

    <div class="container bring-to-front" style="padding-top: 55px!important; padding-bottom: 30px!important;">
      <div class="row align-items-center" >

        <div class="col-md-12 ml-md-auto text-center">

          <img src="/img/Our_Story_Team_Photo.jpg" alt=""
            class="img-responsive rounded">
        </div>
      </div>
    </div>
  </header>

  <!-- ./Features - grid -->
  <section id="features" class="section  bg-contrast">
    <div class="container pb-5" style="padding-top: 50px!important;">
      <div class="row gap-y text-center text-md-left">
        <h1 class="light display-4">Our Story</span></h1>
        <p class="lead">
          <a href="https://www.linkedin.com/in/ggini/" target="_blank">Gabriella Gini</a>, <a href="" target="_blank">Sophie Karrow</a>, and <a href="" target="_blank">Rebekka Schaffer</a> are three young women who met in the Obama Foundation’s
          2019 Community Leadership Corps. Brought together by their shared passion for education equity and Social
          Emotional Learning, the team committed the next 5 months to identifying a problem, creating a solution, and
          working alongside community members in the South Side of Chicago every step of the way.
        </p>
        <p class="lead">
          The identified problem is this: Underserved students need an environment that creates a sense of community,
          affirmation, and safety (emotional, physical, etc.) in their schools because schools as institutions were
          designed to reinforce dominant group ideology and lack feedback from the students they serve.
        </p>
        <p class="lead">

          The goal of this team was to develop a curriculum to share with Chicago teachers to aide them in opening up a
          dialogue with their students regarding their classroom environment. Ultimately, the team wants to elevate the
          student voice and make students co-creators in their classroom environment. They created this website to hold
          a collection of resources and stories of teachers who have used those resources to gather feedback from
          students and implement positive change in their classroom.
        </p>
        <p class="lead">
          This site is not a reflection of Gabriella, Sophie, and Rebekka--it is a reflection of a broad and diverse
          community dedicated to seeing Chicago students thrive, excel, and succeed.
        </p>
      </div>
    </div>
  </section>
  {{> partials/footer }}

</main>
{{/content}}
{{/extend}}